repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
    - id: check-yaml
    - id: check-toml
    - id: end-of-file-fixer
    - id: trailing-whitespace

- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
    - id: black

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.13
  hooks:
    - id: ruff-check
      # args: [ --fix ]
    - id: ruff-format

- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.12.1
  hooks:
  - id: commitizen
  - id: commitizen-branch
    stages:
    - pre-push

- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.20.0
  hooks:
  - id: markdownlint-cli2
    args: [ --fix ]

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.1
  hooks:
  - id: yamllint
    args:
      - --no-warnings
      - -d
      - "{extends: relaxed, rules: {line-length: {max: 90}}}"

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    # args: [--toml, pyproject-codespell.precommit-toml]
    additional_dependencies:
      - tomli

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
  - id: validate-pyproject
