services:
  server:
    build: ./server
    container_name: server
    restart: no
    volumes:
      - ./server/certs:/app/certs
    ports:
      - 8443:8443
    healthcheck:
      test: curl --fail --insecure https://localhost:8443/health || exit 1
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 1s
    networks:
      - app_network

  client:
    build: ./client
    container_name: client
    restart: no
    depends_on:
      server:
        condition: service_healthy
      polarproxy:
        condition: service_started
      cert-installer:
        condition: service_completed_successfully
    environment:
      - HTTPS_PROXY=http://polarproxy:1080
    networks:
      - app_network
    volumes:
      - polarproxy-certs:/certs:ro

  cert-installer:
    image: alpine:latest
    container_name: cert-installer
    depends_on:
      polarproxy:
        condition: service_started
    networks:
      - app_network
    volumes:
      - polarproxy-certs:/certs
    command: >
      sh -c "
      if [ -f /certs/polarproxy.crt ]; then
        echo 'Certificate already exists, skipping download';
        exit 0;
      fi;
      apk add --no-cache curl &&
      sleep 2 &&
      curl -o /certs/polarproxy.crt http://polarproxy:10080/polarproxy.cer &&
      chmod 644 /certs/polarproxy.crt &&
      echo 'Certificate downloaded successfully'
      "

  polarproxy:
    build: ./polar-proxy
    container_name: polar-proxy
    restart: no
    user: root
    ports:
      - 443:10443
      - 10443:10443
      - 1080:1080
    volumes:
      - ./polar-proxy/logs:/var/log/PolarProxy/
      - ./polar-proxy/home:/home/polarproxy/
    command: -v -p 10443,80,443 -o /var/log/PolarProxy/ --certhttp 10080 --pcapoverip 0.0.0.0:57012 --httpconnect 1080 --leafcert sign
    networks:
      - app_network

  wireshark:
    image: lscr.io/linuxserver/wireshark:latest
    container_name: wireshark
    restart: no
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ./wireshark_config:/config
      - ./polar-proxy/logs:/pcaps:ro
    ports:
      - 3010:3000 #optional
      - 3001:3001 #optional
    shm_size: "1gb"
    networks:
      - app_network
    labels:
      - homepage.group=Server
      - homepage.name=Wireshark
      - homepage.icon=wireshark.png
      - homepage.href=https://192.168.100.14:3001

networks:
  app_network:
    driver: bridge

volumes:
  polarproxy-certs:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./client/certs
